:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

* {
    box-sizing: border-box;
}

body {
    /* sets body to Robot, display flex in column
    centered vertically and horizontially and flex
    box height takes up entire height of browser
    overflow not scroll bars show by default */
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/* set header search bar to right with secondary color*/
header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}



/* makes search bar transparent with solid border in primary color 
inherits font family makes font size bigger and pads the circular area
click to type shows in white*/
.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

/* colors search word */
.search::placeholder {
    color: #7378c5;
}

/* no outline when click search field 
and shows background color once clicked*/
.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

/* set movie width and space between each other
with color and box shadow */
.movie {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

/* sets movie image within its container */
.movie img {
    width: 100%;
}


/* color of title and rating and separates title/rating 
with space and padding  */
.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}


/* takes margin top off title */
.movie-info h3 {
    margin-top: 0;
}


/* sets color/padding font and border-radius
around rating */
.movie-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}



/* colors ratings */
.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}


/* set overcview offscreen to start */
.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    /* hover over movie overview
    transitions slides up to show cotent */
}

/* hover over movie transdforms
to show overview */
.movie:hover .overview {
    transform: translateY(0);
}
